*{
    margin: 0;
    box-sizing: border-box;
}

.nav-container{
    display: flex;
    background-color: rgba(255,105,0,255);
    justify-content: space-around;

}

/*parte dei link*/
.link-container{
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-basis: 15%;
}

.nav-container .link-container ul{
    display: flex;
    list-style: none;
    column-gap: 10px;
}

.nav-container .link-container ul a{
    text-decoration: none;
    color: white;
}

/*logo boolean*/
.img-logo-container .boolean-logo{
    width: 100%;
    height: 30px;
    flex-basis: 70%;
}


/*entities*/

.entities-container{
    display: flex;
    align-items: center;
    flex-basis: 15%;
}

/***************inizio main****************/

.container{
    width: 920px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 0px;
}

.card-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 45px;
}


.levis-img{
    width: 100%;
}

.img-container{
    width: 295px;
    position: relative;
}

.blocco-rosso{
    color: white;
    background-color: red;
    font-weight: bold;
}

.sostenibilità{
    color: white;
    background-color: green;
    font-weight: bold;
}

.blocchi-container{
    position: absolute;
    bottom: 38px;
}

.scontato{
    color: red;
    font-weight: bold;
    font-size: 13px;
}

.non-scontato{
    color: gray;
    text-decoration: line-through;
    font-size: 13px;

}

.cuore-container{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: white;
    width: 20px;
    text-align: center;
}

.heart{
    width: 100%;
}



/*footer*/
.foot-container{
    width: 920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
}

.foot-text{
    font-size: 11px;
}

.social a{
    color: white;
}


.hover-img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.img-container:hover .hover-img{
    z-index: 1;
}


/*******************BONUS*******************/

.cuore-container .heart:hover{
    color: red;
}

.img-container .levis-img .con-cappotto{
    width: 100%;
    position: absolute;
}



/*****************fisso navbar****************/

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
